<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <link rel="stylesheet" type="text/css" href="./../assets/style.css">
</head>

<body>
  <h1>
    <%=welcome%>
  </h1>
  <div class='alcoholList'>
    <ul class='alcohols'>
      <li class='alcohol'> <a href="/">ALL</a></li>
      <% alcoholList.forEach(elem => { %>

      <li class='alcohol'> <a href="/<%= elem %>">
          <%= elem %></a></li>
      <%  })   %>
    </ul>
  </div>
  <div>
    <ul>
      <% cocktails.forEach(elem => { %>
      <li>
        <%= elem['name'] %>
      </li>
      <%  }) 
    %>

    </ul>
  </div>

</body>

</html>